// ------------------------------------------------------------
// HEADER
// ------------------------------------------------------------

.cover {
    height: 60vh;
    padding: 20px;
    padding-bottom: 10px;
    
    img {
        height: 100%;
        width: auto;
    }
}

header {
    position: fixed;
    top: 20px;
    right: 20px;
}

.sticky-object {
    font-family: 'Piek';
    font-size: 20px;
    width: 100%;

    position: sticky;
    top: 20px;

    &#Mu{
        padding-left: 20px;
        padding-bottom: 6vh;
    }

    &#Prodiff {
        padding-left: 200px;


        >div {
            display: flex;
            gap: 20px;
        }
    }

    &#Diff {
        white-space: nowrap;
    }

    &#Art {
        white-space: nowrap;
        padding-left: 600px;
        padding-top: 6vh;
        top: -2px;
    }

    &#and {
        font-family: Helvetica, Arial, sans-serif;
    }


}



