/* // ------------------------------------------------------------
// APP
// ------------------------------------------------------------ */

#root {
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

main {
  padding: 0px 20px;
  padding-bottom: 0px;
}



.accordeon-wrapper,
.actus-wrapper {
  /* border: 1px solid blue; */
  width: 100%;
}

.answer-container{
  /* border: 1px solid violet; */
  overflow: hidden;
  width: 100%;
  transition: height 1s ease;
}

.answer-aa{
  overflow: hidden;
  width: 100%;
  transition: max-height 1s ease;
}

footer {
  margin-top: 300px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  p{
    font-family: 'Necto';
    font-size: 12px;
  }
}